@import "tailwindcss";

body {
  font-family: 'Manrope', sans-serif;
}

/* Brutalist Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* The Track (Background) */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-left: 2px solid #000000;
}

/* The Handle (Thumb) */
::-webkit-scrollbar-thumb {
  background: #000000;
  border: 2px solid #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

/* For Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #000000 #ffffff;
}